<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143151469788-rkdh5jb3md8m5ss5d6phevrn3jj7fgv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143151469788-rkdh5jb3md8m5ss5d6phevrn3jj7fgv3</string>
	<key>API_KEY</key>
	<string>AIzaSyDl7vlS_0D8e9HV5BvNYsnWORHpMVMPn2A</string>
	<key>GCM_SENDER_ID</key>
	<string>143151469788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MoneyManager</string>
	<key>PROJECT_ID</key>
	<string>moneymanagerapp-bdeb0</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanagerapp-bdeb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143151469788:ios:53991ec8b4fd5ae79b1019</string>
</dict>
</plist>